/*---Empieza la estructura basica --*/
body.contenedor-general {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    margin: 0 auto;
    position: relative;
    width: 1023px;
}

header,nav,section,article,footer {
    display: block;
}

header {
    height: 141px;
    position: relative;
}

#sombra-contenido {
    background: url("imagenes/conten-bg.png") no-repeat scroll 0 0 transparent;
    overflow: hidden;
    padding: 10px 30px;
    width: 970px;
}

section.html5 {
    width: 630px;
    float: left;
}

section.javascript {
    width: 630px;
    float: left;
}

aside {
    float: right;
    margin: 0 10px 0 0;
    width: 320px;
}

footer {
    background: none repeat scroll 0 0 #FAFAFA;
    border-top: 6px solid #CCCCCC;
    clear: both;
    padding: 10px;
    text-align: center;
}

/* --fin de los estilos de la estructura --*/
.contenedor-general .1 {
    font-family: "Comic Sans MS", cursive;
}
