/* --comienzo de los estilos de la navegacion --*/
nav {
    border-radius: 6px;
    background-image: url(imagenes/menu-barr.png);
    background: #fe7021; /* Old browsers */
background: -webkit-linear-gradient(top, #fe7021 2%, #fcb088 21%, #fe7021 41%, #e95617 65%, #d0380c 95%);

    background: -moz-linear-gradient(top, #fe7021 2%, #fcb088 21%, #fe7021 41%, #e95617 65%, #d0380c 95%);
    background: -o-linear-gradient(top, #fe7021 2%, #fcb088 21%, #fe7021 41%, #e95617 65%, #d0380c 95%);
    background: -ms-linear-gradient(top, #fe7021 2%, #fcb088 21%, #fe7021 41%, #e95617 65%, #d0380c 95%);
    background: linear-gradient(top, #fe7021 2%, #fcb088 21%, #fe7021 41%, #e95617 65%, #d0380c 95%); /* W3C */
-image  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe7021', endColorstr='#d0380c',GradientType=0 ); /* IE6-9 */
height: 46px;
    margin: 0;
    display: block;
}

nav li {
    float: left;
    display: block;
    margin: 5px;
}

nav li a {
    color: #FFFFFF;
    font-family: arial;
    font-weight: bold;
    line-height: 37px;
    padding: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

nav li a:hover {
    background-color: #CD3A0C;
    border: 1px solid #ba1706;
}

nav li a:link{
    background-color: #FFFF80;
    border: 1px solid #ba1706;
}

a:visited {
    color: red;
}

/* --fin de los estilos de la navegacion --*/